*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 16px;
    --bg-color:#676e84;
    --bg-color-mix:color-mix(in srgb, var(--bg-color) 50%, #000 70%);
    --text-color: #aaa;
}
body{
    background-image: linear-gradient(var(--bg-color-mix), var(--bg-color));
}

.header{
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 10px 5px 0;
    background-color: #0001;
    z-index: 20;
    background-color: #000c;
}

.logo{
    width: fit-content;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    animation: aparecer 1s both linear;
    transition: all 1s ease;
    z-index: 20;
}

h1{
    color: #ff9f45;
    width: 330px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.menu{
    width: 25px;
    filter: invert(100);
    z-index: 20;
}

.nav{
    width: 100svw;
    height: 30dvh;
    background-color: #222;
    position: absolute;
    top: -30dvh;
    transition: top .3s linear;
    z-index: 10;
} .aparecer_menu{
    top: 0;
} .desaparecer{
    top: -30dvh;
}

.nav_list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.item{
    list-style: none;
}
.item a{
    padding: 3px 10px;
    border-radius: 5px;
    transition: all 0.5s;
    color: #ff9f45;
}
.item a:hover{
    color: #fff;
    background-color: #000a;
}
/*--------section specialties---*/
.main{
    margin-top: 50px;
}

.container-section{
    display: flex;
}
.section_specialties{
    display: flex;
}
h2{
    color: #eee;
    text-align: center;
}
.specialties{
    color: var(--text-color);
}
.specialties-info{
    text-align: justify;
    margin: 12px;
}
.container_info{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 1rem;
}
.container_info>p{
    color: #fff;
}
.container_logo{
    display: grid;
    margin: 0 0 0 10px;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    place-items: center;
    gap: 3px;
}
.logos img{
    width: 90px;
    align-items: center;
}
.logo-html{
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.logo-css{
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.oculto{
    opacity: 0;
    transform: translateY(50px);
    transition: all .8s ease;
}
.mostrar{
    opacity: 1;
    transform: translateY(0);
}

/*----------section project--*/
.section_projects{
    display: flex;
    flex-direction: column;
    place-items: center;
}
.projects{
    display: grid;
    width: clamp(450px, 75dvw, 900px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    gap: 1rem;
}
.container_project{
    height: clamp(200px, 54dvh, 350px);
    position: relative;
    background-color: #666;
    overflow: hidden;
    border-radius: 5px;
    backface-visibility: hidden;
}
.container_project:nth-child(2){
    background-color: color-mix(in srgb, #922 47%, #fff 35%);
}
.project-front, .project-back{
    position: absolute;
    backface-visibility: hidden;
    transition: all .8s ease;
    color: #fff;
    font-size: 1.1rem;
}
.project-front{
    width: 100%;
    height: 100%;
    background-color: #5b656b;
    transform: rotateY(0);
}
.--project-2{
    background-color: rgb(182, 77, 77);
}


.project-img{
    width: 100%;
    height: clamp(100px, 50dvh, 150px);
    overflow: hidden;
    display: flex;
    align-items: center;
}
.project-img img{
    width: 100%;
}
.project-info{
    padding: 7px;
    position: relative;
}
.view{
    position: absolute;
    bottom: 10px;
    right: 5px;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: rgba(15, 241, 15, 0.863);
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}


.project-back{
    width: 100%;
    height: 100%;
    background-color: #44ac;
    color: #fff;
    padding: 10px;
    transform: rotateY(180deg);
}
.project-back p{
    margin-bottom: 50px;
}

.container_project:hover .project-back{
    transform: rotateY(360deg);
}
.container_project:hover .project-front{
    transform: rotateY(180deg);
}




@keyframes aparecer{
    0%{
        width: 0px;
    }
    100%{
        width: 330px;
    }
}

/*----section form---*/
.section_form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 12px;
    background-color: #390162;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #705394;
}
.container_input{
    display: flex;
    flex-direction: column;
}
.container_input label{
    font-size: 1.3rem;
    color: #85ff02;
    font-weight: 600;
}
.container_input input{
    background-color: transparent;
    border: none;
    border-right: 1px solid #c588f0;
    border-bottom: 1px solid #c588f0;
    font-size: 1.5rem;
    color: #ccc;
}
.container_input input:focus{
    outline: none;
}
.option{
    background-color: #4e3d64 !important;
    color: #ccc;
}

.container_input textarea{
    background-color: inherit;
    color: inherit;
    font-size: 1.5rem;
    color: #ccc;
    resize: none;
    box-shadow: 0px 0px 5px #c588f0;
    width: 100%;
    border: none;
    border-radius: 5px;
}
.container_input textarea:focus{
    outline: none;
}
.container_input .enviar{
    border: 1px solid #000;
    width: 200px;
    background-color: rgb(88, 0, 147);
    padding: 5px 0;
    border: none;
    border-radius: 5px;
    transition: transform .1s linear;
}
.enviar:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.container_input:last-child{
    display: flex;
    align-items: center;
}

/*--section footer--*/
footer{
    width: 100%;
    padding: 25px 0;
    background-color: #111;
    color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
footer>strong{
    width: fit-content;
}

.container_contact{
    display: flex;
    gap: 1rem;
}
.netwoks_direction{
    display: flex;
    flex-direction: column;
    color: #eee;
    text-decoration: none;
    justify-items: center;
    align-items: center;
    gap: 3px;
}
.netwoks_direction:hover{
    text-decoration: underline;
}
.netwoks_direction img{
    width: clamp(45px, 10dvw, 68px);
    transition: transform .1s linear;
}
.netwoks_direction img:hover{
    transform: scale(1.08);
}
